<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Mamawebo Page</title>
    
</head>
<body>
    <h3>Nombre</h3>
    <input class="input" id="in_nombres" style="width:100px; height: 20px; border: 1px solid black;">
    <button class="buttons" id="btn_save" style="width:55px; height: 55px; border: 1px solid black;" type="submit">Guardar</button>
    <datalist class="lista" id="lista_n" style="width:1000px; height: 200px; border: 1px solid black;"></datalist>
    <button class="buttons" id="btn_delete" style="width:55px; height: 55px; border: 1px solid black;">Atender</button>

</body>
<footer></footer>